{% extends 'base.html.twig' %}
               
{% block body %}
<div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-md-10">
            <h1 class="text-center text-black p-3" >Nos Articles</h1>
                    <div class="grid">
                        {% for article in articles %}                   
                                                         
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">  
                                    {% if article.status is same as false %}
                                            
                                    <h5 id="free" class="card-title">{{ article.title }}</h5>
                                        <p class="card-text">{{ article.author }}</p>
                                        <p class="card-text">{{ article.text }}</p>

                                    <p class="card-text">{{ article.createdAt|format_datetime(locale='fr') }}</p>
                                </div>

                                <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Afficher</a>
                                     {% else %}

                                        {% if is_granted("IS_AUTHENTICATED_FULLY")%}
                                            {% if article.id in articleIds %}

                                                <h5 id="premium" class="card-title"><i class="bi bi-star"></i>{{ article.title }}</h5>                         
                                                    <p class="card-text">{{ article.author }}</p>
                                                    <p class="card-text">{{ article.text }}</p>
                                                <p class="card-text">{{ article.createdAt|format_datetime(locale='fr') }}</p>
                                            </div>
                                            <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Afficher</a>
                                            {% else %}

                                                <h5 id="premium" class="card-title"><i class="bi bi-star"></i>{{ article.title }}</h5>                         
                                                    <p class="card-text">{{ article.author }}</p>
                                                    <p class="card-text"> Vous devez acheter cet article pour le consulter</p>
                                                    <p class="card-text">{{ article.createdAt|format_datetime(locale='fr') }}</p>
                                            </div>
                                            <a href="{{ path('payment', {'id': article.id}) }}" class="btn btn-primary">Acheter pour consulter</a>

                                            {% endif %}

                                        {% else %}
                                            
                                        <h5 id="premium" class="card-title"><i class="bi bi-star"></i>{{ article.title }}</h5>                         
                                        <p class="card-text">{{ article.author }}</p>
                                        <p class="card-text"> Vous devez acheter cet article pour le consulter</p>
                                        <p class="card-text">{{ article.createdAt|format_datetime(locale='fr') }}</p>
                                        </div>

                                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Afficher</a> 
                                        
                                        {% endif %}
                                    {% endif %}
                            </div>
                        </div>       

                        {% else %}
                                <div>
                                    <span colspan="9">no records found</span>
                                </div>
                        {% endfor %}

                        <div class="navigation">
                            {{ knp_pagination_render(articles) }}
                        </div>
                    </div>
            </div>               
        </div>
</div>
{% endblock %}
