{% extends 'base.html.twig' %}


{% block body %}

{% if article.status is same as false %}
<div class="container mt-3 mb-3">
    <h1> {{ article.title }}</h1>
    <div class="card mb-3">
        <div class="row g-0">
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ article.author }}</h5>
                    <p class="card-text">{{ article.text }}</p>
                    <p class="card-text"><small class="text-body-secondary">Créé le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</small></p>
                    <p class="card-text"><small class="text-body-secondary">Mis à jour le {{ article.UpdatedAt ? article.UpdatedAt|date('Y-m-d H:i:s') : '' }}</small></p>
                </div>
                </div>
        </div>
    </div>
    <a href="/" class="btn btn-primary">Retour au Menu</a>
</div>
{% else %}
<div class="container mt-3 mb-3">
    <h1> {{ article.title }}</h1>
    <div class="card mb-3">
        <div class="row g-0">
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ article.author }}</h5>
                        {# {% if article.id in articleIds %}
                        
                        <p class="card-text">{{ article.text }}</p>
                        <p class="card-text"><small class="text-body-secondary">Créé le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</small></p>
                        <p class="card-text"><small class="text-body-secondary">Mis à jour le {{ article.UpdatedAt ? article.UpdatedAt|date('Y-m-d H:i:s') : '' }}</small></p>
                    </div>
                        {% else %}
                        
                    <p> Vous devez payez pour accéder au contenu de cet article</p>
                    
                    {% endif %} #}
                    
                    <p class="card-text">{{ article.text }}</p>
                    <p class="card-text"><small class="text-body-secondary">Créé le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</small></p>
                    <p class="card-text"><small class="text-body-secondary">Mis à jour le {{ article.UpdatedAt ? article.UpdatedAt|date('Y-m-d H:i:s') : '' }}</small></p>
                </div>
                </div>
        </div>
    </div>
    <a href="/" class="btn btn-primary">Retour au Menu</a>



</div>
        
{% endif %}

{% endblock %}



